html {
    margin: 0 auto;
}

body {
    color: #15171a;
    background-color: #f0ece6;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
}

h1 {
    padding-top: 80px;
    padding-bottom: 40px;
    font-size: 58px;
    font-weight: 800;
}

h2 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 40px;
    font-weight: 700;
}

h3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 30px;
    font-weight: 600;
}

p {
    margin: 20px 0;
}

header {
    padding-top: 38px;
    padding-bottom: 38px;
}

footer {
    padding-top: 6rem;
    padding-bottom: 29px;
}

label {
    display: block;
    font-size: 16px;
}

.container {
    width: auto;
    max-width: 1500px; 
    padding: 0 15px;
    
}

.horizontal-list {
    list-style-type: none; /* Removes default bullet points */
    display: flex; /* Activates Flexbox on the unordered list */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Recommended when using floats for backward compatibility */
    justify-content: left; /* Distributes items evenly with space between them */
}

/* Center elements */

.center-text {
    text-align: center;
}

.grayed-out {
    color: rgba(0, 0, 0, 0.6);
}

.nav-link { /* Navigation menu item in header and footer */
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
}

.last-item {
    margin-right: 0;
}

.text_details {
    margin: 0px 0;
}   

.text-field {
    border-radius: 6px;
    margin: 16px 0;
    padding: 8px 8px;
    border: 1px solid gray;
    max-width: 600px;
}

.button {
    border-radius: 100px;
    padding: 10px 18px;
    margin: 20px 0;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background-color: black;
    color: white;
}

#copyright {
    font-size: 14px
}

#intro-block {
    padding: 2rem 0;
}

#intro-img {
    margin: 10px 0;
}

#quang-nguyen {
    max-height: 300px; /* or 50vh, 20em, 75% etc. */
    height: auto;
    width: auto;
}

#bottom-nav {
    justify-content: center; /* Center navigation menu */
    margin: 24px 0;
}